// Fuentes
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

// import
@import 'variables';


*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

nav{
    ul{
    list-style: none;
    text-align: center;
    font-size: 0;
        li{
            a{
            color: $color-fuente;
            text-shadow: $texto-sombras;
            margin-bottom: 0;  
            }
        }
    }
}

.hover{
    opacity: 0;
    &:hover{
        transition-duration: 1s;
        background-color: rgba(0, 0, 0, 0.699);
        opacity: 1;
    }
}



.texto{
    font-family: $fuente;
    text-align: justify;
    font-size: 1.3rem;
}





/* Celular */
@media only screen and (min-width: 0px) and (max-width: 920px){

    nav{
        ul{
            li{
            display: inline-block;
            font-size: 1rem;
            font-family: $fuente;
            font-weight: bold;
            padding: 5px 10px 5px 10px;
            margin: 5px 5px 5px 5px;
            }
        }
    }

    h1{
        text-align: center;
        font-weight: bold;
        color: $color-fuente;
        text-shadow: $texto-sombras;
        font-family: $fuente;
        font-size: 1.2rem;
        margin-top: 5px;
    }

    #contactoh2{
        color: $color-fuente;
        text-shadow: $texto-sombras;
        font-family: $fuente;
        margin: 10px 10px 10px 10px;
        padding: 10px 10px 10px 10px;
        font-size: 1rem;
    }

    .container-index{
        background-color: #D8DFC3;
        border-radius: 5px;
        .texto-index{
            font-family: $fuente;
            font-size: 1.3rem;
            text-align: justify;
        }
    }

    .form{
        width: 400px;
        border: solid;
        margin: 30px 20px 10px 0px;
        border-color: rgba(0, 0, 0, 0.2);
        border-width: 1px;
        box-shadow: 3px 3px 15px #cab882;
        border-radius: 5px;
        .contacto{
            padding: 0.8rem;
            overflow: hidden;
            color: $color-fuente;
            font-family: $fuente;
            label, input, textarea{ 
                display: block;
                width: 100%;
                margin-bottom: 5px;
            }
            label{
                font-weight: 500;
            }
            input, textarea{
                font-family: $fuente;
                border: none;
                border-bottom: 2px solid #DFD8C3;
                font-size: 20px;
            }
            input[type="submit"]{
                &:hover{
                    background-color: #2b5e32a4;
                }
            }
            input[type="reset"]{
                &:hover{
                    background-color: rgba(255, 0, 0, 0.616);
                }
            }
        }
    }

    .navfoot{
        color: $color-fuente;
        font-family: $fuente;
        font-weight: bold;
    }
}



/* Computadora */
@media only screen and (min-width: 920px){

    /* Header + Navegador */



    nav{
        ul{
            li{
                display: inline-block;
                font-size: 1.2rem;
                font-family: $fuente;
                font-weight: bold;
                padding: 5px 10px 5px 10px;
                margin: 5px 5px 5px 5px;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                position: relative;
                overflow: hidden;
                &:before{
                    content: "";
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: $color-fuente;
                    height: 4px;
                    -webkit-transform: translateY(4px);
                    transform: translateY(4px);
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out; 
                }    
                &:hover:before, :focus:before, :active:before{
                        -webkit-transform: translateY(0);
                        transform: translateY(0);   
                }    
            }
        }
    }

    h1{
        text-align: center;
        font-weight: bold;
        color: $color-fuente;
        text-shadow: $texto-sombras;
        font-family: $fuente;
    }
    
    #contactoh2{
        color: $color-fuente;
        text-shadow: $texto-sombras;
        font-family: $fuente;
        margin: 10px 10px 10px 10px;
        padding: 40px 10px 10px 10px;
        font-size: 1.3rem;
    }
    
    .container-index{
        background-color: #ada793;
        border-radius: 5px;
        .texto-index{
            font-family: $fuente;
            font-size: 1.3rem;
            text-align: justify;  
        }
    }

    

    .form{
        width: 400px;
        border: solid;
        margin: 40px 0px 10px 20px;
        border-color: rgba(0, 0, 0, 0.2);
        border-width: 1px;
        box-shadow: 3px 3px 15px #cab882;
        border-radius: 5px;
        .contacto{
            padding: 0.8rem;
            overflow: hidden;
            color: $color-fuente;
            font-family: $fuente;
            label, input, textarea{
                display: block;
                width: 100%;
                margin-bottom: 5px;
            }
            label{
                font-weight: 500;
            }
            input, textarea{
                font-family: $fuente;
                border: none;
                border-bottom: 2px solid #DFD8C3;
                font-size: 20px;
            }
            input[type="submit"]{
                &:hover{
                    background-color: #2b5e32a4;
                }
            }
            input[type="reset"]{
                &:hover{
                    background-color: rgba(255, 0, 0, 0.616);
                }
            }
        }
    }

    .navfoot{
        color: $color-fuente;
        font-family: $fuente;
        font-weight: bold;
            &:hover{
            color: #1e4122;
            }
    }
}
